* {
    margin:0;
    padding:0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}
ul, li {
    list-style: none;
}

a{
    text-decoration: none;
}
img {
    vertical-align: top;
}
/* 기본 세팅값 */

.header__in {
    display:flex;
    width: 100%;
    height: 80px;
    background-color: darkturquoise;
}
.header__nav__list {
    display:flex;
    justify-content: space-around;
}

.info_on {
    display:block;
}